
#구글비전 제이슨 파일 이동
google:
  cloud:
    vision:
      key-path: classpath:googlevision.json

#사진 전송 속도 조정
spring:
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
server:
  tomcat:
    max-http-form-post-size: 10MB