<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <div th:replace="~{index :: common_head('FDS BANK - 메인')}"></div>
</head>
<body>
<nav th:replace="~{index :: menu}"></nav>

<main style="padding: 100px; text-align: center;">
    <h1 sec:authorize="isAnonymous()">FDS BANK에 오신 것을 환영합니다.</h1>
    <h1 sec:authorize="isAuthenticated()">
        <span th:text="${#authentication.name}">사용자</span>님, 안전한 거래를 시작하세요.
    </h1>
</main>

<script th:inline="javascript">
    /* 로그인 성공 알림 */
    /*[# th:if="${param.loginSuccess}"]*/
    alert("로그인에 성공하였습니다!");
    history.replaceState({}, null, location.pathname);
    /*[/]*/
</script>
</body>
</html>